body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #6eb8f8, #1725a1);
}

.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-section {
    color: white;
    padding: 2rem 0 0 0;
    text-align: center;
}

.welcome-section h2 {
    font-weight: bolder;
}

.welcome-section p {
    font-weight: bold;
}

.calculator-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 50px;
}

.calculator-box h3, .calculator-box h4 {
    font-weight: bold;
    color: #003869;
}

.currency-label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #003869;
}

.calculator-box p {
    font-weight: bold;
    color: #003869;
    font-size: 1.2rem;
    margin: 0;
}

.denomination-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.denomination-list li {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #003869;
    margin-bottom: 6px;
}

.denomination-list img.denomination-icon {
    width: 50px;
    height: auto;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

footer {
    width: 100%;
    background: linear-gradient(to left, #6eb8f8, #1725a1);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}
