/* BASIC SETTINGS FOR THE ENTIRE PAGE */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #e9f4ff;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to left, #6eb8f8, #1725a1);
}
/* BASIC SETTINGS FOR THE ENTIRE PAGE */

/* TITLE */
h1 {
  text-align: center;
  margin: 0px auto 40px auto;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 1000px;
  padding: 2rem 0 0 0;
  box-sizing: border-box;
}
/* TITLE */

/* TIMELINE CONTAINER */
.timeline-container {
  display: flex;
  flex-direction: column-reverse;
}

.timeline-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 4px dashed #fff;
    height: 100%;
    display: block;
}
/* TIMELINE CONTAINER */

/* TIMELINE ROW */
.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
}

.timeline-row.visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
/* TIMELINE ROW */

/* TIMELINE TIME */
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 12px;
  text-align: right;
  margin-right: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
/* TIMELINE TIME */

/* TIMELINE CONTENT */
.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

.timeline-row .timeline-content:hover {
  transform: translateY(-4px);
  z-index: 2;

}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: #856404;
  border: 3px solid #fee8d6;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}

.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -51px;
  right: initial;
}

.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
/* TIMELINE CONTENT */

/* TIMELINE TIME */
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
/* TIMELINE TIME */

/* FOOTER */
footer {
  width: 100%;
  background: linear-gradient(to left, #6eb8f8, #1725a1);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}
/* FOOTER */


@media (max-width: 992px) {

  .timeline-container {
    padding: 15px;
  }

  .timeline-container:after {
    border: 0;
  }

  .timeline-container .timeline-row:nth-child(odd) {
    padding: 0;
  }

  .timeline-container .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }

  .timeline-container .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }

  .timeline-container .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }

  .timeline-container .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }

  .timeline-container .timeline-row:nth-child(even) {
    padding: 0;
  }

  .timeline-container .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }

  .timeline-container .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }

  .timeline-container .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }
}