/* Синият фон за цялата Q&A секция */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #6eb8f8, #1725a1);
}

.qa {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

/* Бялото правоъгълно поле за текста */
.qa-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    margin: 20px 50px 20px 50px;
    max-width: 1000px;
    width: 100%;
    line-height: 1.5;
    font-size: 22px;
    line-height: 1.9;
}

/* (По желание) малко стилизиране на заглавията вътре */
.qna-box h3 {

    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 60px;
    /* <- зададен размер за заглавието */
    font-weight: 600;
}

/* FOOTER */
footer {
  width: 100%;
  background: linear-gradient(to left, #6eb8f8, #1725a1);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}
/* FOOTER */