/* Синият фон за цялата Q&A секция */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #6eb8f8, #1725a1);
}

.qa {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

/* Бялото правоъгълно поле за текста */
.qa-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    margin: 20px 50px 20px 50px;
    max-width: 1000px;
    width: 100%;
    line-height: 1.5;
    font-size: 22px;
    line-height: 1.9;
}

.qa-box h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #1725a1;
    font-weight: bolder;
}

summary {
    cursor: pointer;
    color: #1725a1;
    margin-bottom: 10px;
}

.animated-details .content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.animated-details[open] .content {
    max-height: 500px;
    /* adjust depending on your content */
}

.highlight {
    background-color: #fee8d6;
    color: #856404;
    padding: 0.15em 0.4em;
    border-radius: 1rem;
    font-weight: 600;
}


/* FOOTER */
footer {
    width: 100%;
    background: linear-gradient(to left, #6eb8f8, #1725a1);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

/* FOOTER */